---
layout: default
title: "Articles"
---

<!-- Single-column layout with heading and intro paragraph -->

{% if site.leadership.size > 0 %}
<h2>Leadership</h2>
<ul class="article-list">
  {% for post in site.leadership %}
    <li>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.description }}</p>
    </li>
  {% endfor %}
</ul>
{% endif %}

 {% if site.craft.size > 0 %}
<h2>Craft</h2>
<ul class="article-list">
{% for post in site.craft %}
    <li>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.description }}</p>
    </li>
  {% endfor %}
</ul>
{% endif %}

 {% if site.collaboration.size > 0 %}
<h2>Collaboration</h2>
<ul class="article-list">
{% for post in site.collaboration %}
    <li>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.description }}</p>
    </li>
  {% endfor %}
</ul>
{% endif %}

{% if site.future.size > 0 %}
<h2>Future</h2>
<ul class="article-list">
  {% for post in site.future %}
    <li>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.description }}</p>
    </li>
  {% endfor %}
</ul>
{% endif %}