<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Saira+Condensed:wght@800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/styles.css">

</head>
<body>
  <header>
      
<!-- Add a banner image -->
<div class="banner">
  <img src="/assets/OF-banner.png" alt="Illustration of a futuristic eco city">
</div>
      
  <h1 class="site-title">{{ site.title }}</h1>
  <div class="bio">
    <div class="bio-text">
        <img src="/assets/jesse-sprite.png" alt="Jesse Speak" class="bio-thumbnail">
      <p>Hello! I’m <a href="https://www.linkedin.com/in/jesse-speak-3189411b/" target="_blank">Jesse Speak</a>, a lifelong lover of speculative fiction and the promise of technology to unlock our potential. Optimistic Futures is an exploration of the impact prevalent AI will have on us individually and collectively. I'm using short fiction to jump into future scenarios and discover implications worth thinking about now.</p>
    </div>
  </div>
</header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>© Jesse Speak {{ site.time | date: "%Y" }}</p>
  </footer>
</body>
</html>