<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&family=Noto+Serif:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/styles.css">

</head>
<body>
  <header>
    <a href="/" class="back-link">← Back to articles</a>
  </header>

  <main>
    <h1>{{ page.title }}</h1>
    <p class="post-date">{{ page.date | date: "%B %d, %Y" }}</p>

    <div class="post-content">
      {{ content }}
    </div>
      <a href="/" class="back-link">← Back to articles</a>
  </main>
</body>
</html>